@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Solztt';
    src: url('../fonts/SolzttFonte-Regular.otf') format('opentype'),
        url('../fonts/SolzttFonte-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Solztt2';
    src: url('../fonts/SolZttFonte2-Regular.ttf') format('truetype'),
        url('../fonts//SolzttMinusculas-Regular.otf') format('opentype'),
        url('../fonts//SolzttMinusculas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'MontSerratBold';
    src: url('../fonts/montserrat/Montserrat-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontSerratMedium';
    src: url('../fonts/montserrat/Montserrat-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Times New Roman';
    src: url('../fonts/TimesNewRoman.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #fff; }
}


.svg-container svg path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 4s forwards, fill 1s 4s forwards;
}

.svg-container svg g {
    display: flex;
    align-items: center;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: #7c8f77;
    }
    to {
        fill: #000;
    }
}


.solztt {
    font-family: 'Solztt';
}

.solztt2 {
    font-family: 'Solztt2';
}

.montSerratBold {
    font-family: 'MontSerratBold';
}

.montSerratMedium, a, button, button span, h5 {
    font-family: 'MontSerratMedium';
}

p, label, input[type="text"] {
    font-family: 'Times New Roman' !important;
    font-weight: 500;
}

.times {
    font-family: 'Times New Roman' !important;
}


.typing-effect {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid #fff;
    animation: typing 3.5s steps(40, end) 1s 1 normal both, blink-caret .75s step-end infinite;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Estilo para Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}