@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Solztt';
    src: url('../fonts/SolzttFonte-Regular.otf') format('opentype'),
        url('../fonts/SolzttFonte-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Solztt2';
    src: url('../fonts/SolZttFonte2-Regular.ttf') format('truetype'),
        url('../fonts//SolzttMinusculas-Regular.otf') format('opentype'),
        url('../fonts//SolzttMinusculas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'MontSerratBold';
    src: url('../fonts/montserrat/Montserrat-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontSerratMedium';
    src: url('../fonts/montserrat/Montserrat-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MontSerratLight';
    src: url('../fonts/montserrat/Montserrat-Light.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Times New Roman';
    src: url('../fonts/TimesNewRoman.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.svg-container svg g {
    display: flex;
    align-items: center;
}

body p, label, input[type="text"], textarea, span {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    line-height: 1.7;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

.menu-text, button {
    font-family: 'MontSerratLight', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.solztt {
    font-family: 'Solztt';
}

.solztt2 {
    font-family: 'Solztt2';
}

.Merriweather {
    font-family: 'Merriweather', serif;
}

.montserrat {
    font-family: "Montserrat";
    font-weight: bold;
    font-style: normal;
}

.MontSerratLight {
    font-family: 'MontSerratLight';
}

.montSerratBold {
    font-family: 'MontSerratBold';
}

.montSerratMedium, a, button, button span, h5 {
    font-family: 'MontSerratMedium';
}

.times {
    font-family: 'Times New Roman' !important;
}

.typing-effect {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid #fff;
    animation: typing 3.5s steps(40, end) 1s 1 normal both, blink-caret .75s step-end infinite;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 12px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Estilo para Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
}

/* Fundo da bandeira para combinar com o input */
.react-tel-input .flag-dropdown {
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 0;

    border-width: 1px;
    border-radius: 0px !important;
    border-color: #6b7280 !important;
    border-right: none !important;

}

.react-tel-input .flag-dropdown.open {
    background: none !important;
}
  
  /* Cor de fundo e fonte do menu de seleção de países */
  .react-tel-input .country-list {
    background-color: white; /* Fundo da lista de países */
    color: black; /* Cor da fonte da lista */
  }
  
  /* Ajuste da cor de texto para países específicos */
  .react-tel-input .country-list .country {
    color: black; /* Cor do texto para todos os países */
  }
  
  /* Ajuste para o fundo dos itens ao passar o mouse */
  .react-tel-input .country-list .country:hover {
    background-color: #f0f0f0; /* Cor de fundo ao passar o mouse */
  }
  
  /* Ajuste para a bandeira selecionada no dropdown */
  .react-tel-input .selected-flag {
    background-color: white; /* Cor de fundo da bandeira selecionada */
    border-radius: 0px !important;
  }