@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adicione isso no seu arquivo CSS ou dentro de uma tag <style> */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #fff; }
}

.typing-effect {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid #fff;
    animation: typing 3.5s steps(40, end) 1s 1 normal both, blink-caret .75s step-end infinite;
}