name: Deploy to DigitalOcean with Docker Compose

on:
  push:
    branches:
      - main 

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php-versions: ['8.2']
        
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up environment variables
      run: |
        echo "WWWGROUP=1000" >> $GITHUB_ENV


    - name: Update and install dependencies
      run: |
        sudo apt-get update && sudo apt-get upgrade -y
        sudo add-apt-repository ppa:ondrej/php -y
        sudo apt-get update
        sudo apt-get install -y php8.2 php8.2-cli php8.2-fpm php8.2-mysql php8.2-xml php8.2-mbstring php8.2-curl php8.2-zip php8.2-gd php8.2-soap
        sudo curl -L "https://github.com/docker/compose/releases/download/v2.20.2/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
        sudo chmod +x /usr/local/bin/docker-compose
    
    - name: List files in the repository
      run: ls ${{ github.workspace }}

    - name: Set up Laravel environment locally
      run: |
        cp .env.example .env
        sudo chmod -R 777 storage/

    - name: Build and run Docker containers
      run: |
        docker-compose -f docker-compose.yml up -d --build
        docker-compose exec laravel.test composer install --optimize-autoloader
        docker-compose exec laravel.test php artisan key:generate
        docker-compose exec laravel.test php artisan migrate --force
        docker-compose exec laravel.test php artisan db:seed
        docker-compose exec laravel.test npm install
        docker-compose exec laravel.test npm run build

    - name: Optimize application locally
      run: |
        docker-compose exec laravel.test php artisan config:cache
        docker-compose exec laravel.test php artisan route:cache
        docker-compose exec laravel.test php artisan view:cache

    # - name: Set up SSH
    #   uses: webfactory/ssh-agent@v0.5.3
    #   with:
    #     ssh-private-key: ${{ secrets.DO_SSH_KEY }}

    # - name: Deploy application to DigitalOcean
    #   run: |
    #     scp -r . root@your_droplet_ip:/path/to/laravel-app
    #     ssh root@your_droplet_ip << 'EOF'
    #     cd /path/to/laravel-app
    #     docker-compose down
    #     docker-compose up -d --build
    #     docker exec -it laravel.test php artisan migrate --force
    #     docker exec -it laravel.test php artisan config:cache
    #     docker exec -it laravel.test php artisan route:cache
    #     docker exec -it laravel.test php artisan view:cache
    #     EOF
